name: CI

on:
  push:
    branches:
      - '4.x'
      - '4.next'
      - '5.x'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        doc-type: ['HTML', 'EPUB', 'PDF']

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-python@v6
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - uses: awalsh128/cache-apt-pkgs-action@v1
      with:
        packages: texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended texlive-lang-all
        version: ubuntu-24.04

    - name: Build Docs
      run: |
        if [[ ${{ matrix.doc-type }} == 'HTML' ]]; then make html SPHINXOPTS='-W --keep-going'; fi
        if [[ ${{ matrix.doc-type }} == 'EPUB' ]]; then make epub; fi
        if [[ ${{ matrix.doc-type }} == 'PDF' ]]; then make latex; fi
